/*navbar*/
.navbar{
    float: right;
    margin-top: 30px;
    margin-bottom: 10px;
}
.title {
    margin-top: 150px;
}
/*row*/
.row{
  margin: auto;
}

/*container*/
.container-fuild{
    margin-bottom: 100px;
}

/*img*/

.img-fuild{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px red;
    border-radius: 20px;
}

/*footer*/
.conta__footer{
    margin-top: 100px;
}